<div class="row">
  <nav role="navigation">
    <h1>Basketball</h1>
    <ul class="leagues vertical tabs">
      <li><a href="#">National Basketball Assoc.</a></li>
      <li><a href="#">Women's National Basketball Assoc.</a></li>
      <li><a href="#">NCAA Basketball</a></li>
      <li><a href="#">NCAA Women's Basketball</a></li>
      <li class="active">
        <a href="#">sample league</a>
        <ul class="teams">
          <li><a href="#">Team A</a></li>
          <li class="active"><a href="#">Team B</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <section role="main" class="hide-for-small">
    <p class="show-for-small">
      <a href="#" id="mobile-select-team">Select a team</a>
    </p>
    <p> Team contents will go here </p>
  </section> <!-- main content -->
</div> <!-- row -->

