<script type="text/x-moustache" id="menu-template">
  <ul class="leagues vertical tabs">
    {{#leagues}}
    <li>
      <a href="#">{{ shortName }}</a>
      <ul class="teams">
        {{#teams}}
        <li><a href="#" class="team-link" data-parent-id="{{parentId}}" data-id="{{id}}">{{ name }}</a></li>
        {{/teams}}
      </ul>
    </li>
    {{/leagues}}
  </ul>
</script>

<div class="row">
  <nav role="navigation">
    <h1>Basketball</h1>
    <p id="menu-placeholder">
      Leagues and teams will appear here
    </p>
  </nav>

  <section role="main" class="hide-for-small">
    <p class="show-for-small">
      <a href="#" id="mobile-select-team">Select a team</a>
    </p>
    <p> Team contents will go here </p>
  </section> <!-- main content -->
</div> <!-- row -->

